<canvas id="myCanvas" width="400" height="400" style="border:1px solid black;">Test</canvas>
<br>
<button onclick="clearCanvas();">Clear</button>
<button onclick="DFT_Epicycles();">Calculate Epicycles (DFT)</button>

